<div class="container">
    <h2>Your request is not valid.</h2> 
    @if (Model.Count() == 1)
    {
        <h1>Error:</h1>
    }
     @if (Model.Count() > 1)
    {
        <h1>Errors:</h1>
    }

    <ul>
        @foreach (var error in Model)
        {
            <li>@error</li>
        }
    </ul>
</div>
